<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns:android="http://schemas.android.com/apk/res/android" id="eu.imback.os.app" version="V5.9.21_121d61" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
 android-versionCode="50921">
  <name>ImB OS App</name>
  <description>ImBack OS App</description>
  <author email="stefan@hegny.de">Stefan Hegny</author>
  <content src="/imbapp.html"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <acces origin="*"/>
  <preference name="AndroidPersistentFileLocation" value="Compatibility"/>
  <preference name="AndroidXEnabled" value="true"/>
  <preference name="AndroidInsecureFileModeEnabled" value="true"/>
  <platform name="android">
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/logo.png" />
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true" />
    </edit-config>
    <resource-file src="../../imbapp.htm" target="app/src/main/assets/www/res/imbapp.htm"/>
    <resource-file src="imbapp.html" target="app/src/main/assets/www/imbapp.html"/>
    <resource-file src="../../LICENSE.txt" target="app/src/main/assets/www/res/LICENSE.txt"/>
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:usesCleartextTraffic="true" android:largeHeap="true" android:requestLegacyExternalStorage="true" />
    </edit-config>
    <config-file target="app/src/main/AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.MANAGE_MEDIA"/>
    </config-file>
    <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application/activity">
      <intent-filter>
	<action android:name="android.intent.action.SEND" />
	<action android:name="android.intent.action.SEND_MULTIPLE" />
	<category android:name="android.intent.category.DEFAULT" />
	<data android:mimeType="application/octet-stream" />
	<data android:mimeType="image/jpeg" />
	<data android:mimeType="image/x-adobe-dng" />
      </intent-filter>
    </config-file>
  </platform>
    <platform name="ios">
      <resource-file src="../../imbapp.htm" target="app/src/main/assets/www/res/imbapp.htm"/>
      <resource-file src="imbapp.html" target="app/src/main/assets/www/imbapp.html"/>
      <resource-file src="../../LICENSE.txt" target="app/src/main/assets/www/res/LICENSE.txt"/>
    </platform>
  <icon src="res/logo.png"/>
  <exclude-files pattern="imbapp-dbg.html"/>
  <exclude-files pattern="*~"/>
</widget>
