<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns:android="http://schemas.android.com/apk/res/android" id="eu.imback.os.app" version="V6.7.8_5373e68" xmlns="http://www.w3.org/ns/widgets" 
 xmlns:cdv="http://cordova.apache.org/ns/1.0"
 android-versionCode="60501">
  <name>ImB OS App</name>
  <description>ImBack OS App</description>
  <author email="stefan@hegny.de">Stefan Hegny</author>
  <content src="/imbapp.html"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <acces origin="*"/>
  <preference name="AndroidPersistentFileLocation" value="Compatibility"/>
  <preference name="AndroidXEnabled" value="true"/>
  <preference name="AndroidInsecureFileModeEnabled" value="true"/>
  <!--hook type="before_build" src="sh -c 'cd ../../.. && make'"/-->
  <hook type="before_build" src="scripts/make.sh"/>
  <platform name="android">
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/logo.png" />
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true" />
    </edit-config>
    <resource-file src="network_config.xml" target="app/src/main/res/xml/network_config.xml"/>
    <resource-file src="../../imbappzzz.htm" target="app/src/main/assets/www/res/imbapp.htm"/>
    <resource-file src="imbapp.html" target="app/src/main/assets/www/imbapp.html"/>
    <resource-file src="../../LICENSE.txt" target="app/src/main/assets/www/res/LICENSE.txt"/>
    <resource-file src="../../HISTORY.txt" target="app/src/main/assets/www/res/HISTORY.txt"/>
    <resource-file src="../../LICENSE.html" target="app/src/main/assets/www/res/LICENSE.html"/>
    <resource-file src="../../README.html" target="app/src/main/assets/www/res/README.html"/>
    <resource-file src="../../README_de.html" target="app/src/main/assets/www/res/README_de.html"/>
    <resource-file src="../../README_ja.html" target="app/src/main/assets/www/res/README_ja.html"/>
    <resource-file src="../../README_MiMi.html" target="app/src/main/assets/www/res/README_MiMi.html"/>
    <resource-file src="../../README_MiMi_de.html" target="app/src/main/assets/www/res/README_MiMi_de.html"/>
    <resource-file src="../../README_MiMi_ja.html" target="app/src/main/assets/www/res/README_MiMi_ja.html"/>
    <resource-file src="../../imbraw2dng.json" target="app/src/main/assets/www/res/imbraw2dng.json"/>
    <resource-file src="../../helpstuff/usercontrols.png" target="app/src/main/assets/www/res/usercontrols.png"/>
    <resource-file src="../../helpstuff/demosaic.jpg" target="app/src/main/assets/www/res/demosaic.jpg"/>
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:usesCleartextTraffic="true" android:largeHeap="true" android:requestLegacyExternalStorage="true" />
    </edit-config>
    <config-file target="app/src/main/AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.MANAGE_MEDIA"/>
    </config-file>
    <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application/activity">
      <intent-filter>
	<action android:name="android.intent.action.SEND" />
	<action android:name="android.intent.action.SEND_MULTIPLE" />
	<category android:name="android.intent.category.DEFAULT" />
	<data android:mimeType="application/octet-stream" />
	<data android:mimeType="image/jpeg" />
	<data android:mimeType="image/x-adobe-dng" />
      </intent-filter>
    </config-file>
  </platform>
    <platform name="ios">
      <resource-file src="../../imbappzzz.htm" target="app/src/main/assets/www/res/imbapp.htm"/>
      <resource-file src="imbapp.html" target="app/src/main/assets/www/imbapp.html"/>
      <resource-file src="../../LICENSE.txt" target="app/src/main/assets/www/res/LICENSE.txt"/>
    <resource-file src="../../HISTORY.txt" target="app/src/main/assets/www/res/HISTORY.txt"/>
    <resource-file src="../../LICENSE.html" target="app/src/main/assets/www/res/LICENSE.html"/>
      <resource-file src="../../README_MiMi.html" target="app/src/main/assets/www/res/README_MiMi.htm"/>
      <resource-file src="../../README_MiMi_de.html" target="app/src/main/assets/www/res/README_MiMi_de.htm"/>
      <resource-file src="../../README_MiMi_ja.html" target="app/src/main/assets/www/res/README_MiMi_ja.htm"/>
      <resource-file src="../../README.html" target="app/src/main/assets/www/res/README.htm"/>
      <resource-file src="../../README_de.html" target="app/src/main/assets/www/res/README_de.htm"/>
      <resource-file src="../../README_ja.html" target="app/src/main/assets/www/res/README_ja.htm"/>
    <resource-file src="../../imbraw2dng.json" target="app/src/main/assets/www/res/imbraw2dng.json"/>
    <resource-file src="../../helpstuff/demosaic.jpg" target="app/src/main/assets/www/res/demosaic.jpg"/>
    <resource-file src="../../helpstuff/usercontrols.png" target="app/src/main/assets/www/res/usercontrols.png"/>
    </platform>
  <icon src="res/logo.png"/>
  <exclude-files pattern="imbapp-dbg.html"/>
  <exclude-files pattern="*~"/>
</widget>
